@{
    ViewData["Title"] = "Home Page";
}




<div class="container">  
    <img src="~/images/img_main_page.jpg" width="800"/>
        <h2 class="center-block">Welcome!</h2>

        <h3 class="center-block">Check our menu <a asp-area="" asp-controller="Home" asp-action="Menu">here</a>.</h3>
</div>
